body {
    font-family: sans-serif;
}

.link-header{
    background-color: yellow;
    font-size: 30px;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-size: 40px;
    color:gold;
    background-image: linear-gradient(to right,white,grey,black,grey,white);
    border-radius: 15px;
}

ul:hover{
    color: brown;
    font-size: 20px;
    transition: all 2s ;
}

ul{
    transition: all 2s ;
}

h1:hover{
    background-image: linear-gradient(crimson);
    font-size: 50px;

}
